extends layout

block content

	center
		img.logo(src='#{logo}')

	center
		h1.titulo='Legislatura de Jujuy'

	div(class='panel panel-success')
		div(class='panel-heading')='Certificado de Seguridad Instalado en Forma Correcta'

		div(class='panel-body')='El certificado de seguridad de la aplicacion se ha instalado en forma correcta. Ahora puede volver haciendo click en en el siguiente boton.'

	p
		center
			a(href='#{appurl}/applicationInit',class='btn btn-success') Volver a la Aplicacion